In [1]:
import numpy as np
import pandas as pd
from city_to_state import city_to_state_dict

In [2]:
# Load in csv
df = pd.read_csv("data_bucketed.csv" , index_col=False , encoding = 'utf-8')
df.drop(labels="Index",axis = 1, inplace=True)
df.head()

         City  quantity score  business score  Cost of Living Index  Bucket
0  Charleston            0.28            1.62                  83.9       1
1    Danville            0.02            0.26                  83.9       1
2    Richmond            0.33            1.95                  84.2       1
3  Huntington            0.07            0.44                  84.3       1
4  Portsmouth            0.05            0.39                  84.7       1

In [3]:
cdf = pd.DataFrame.from_dict(city_to_state_dict, orient="index")
cdf.reset_index(inplace=True)
cdf.rename(columns={'index':'City',0:"State"}, inplace=True)

In [4]:
cdf

                       City        State
0     East Rancho Dominguez   California
1                   Clinton  Mississippi
2                    Nanuet     New York
3              Sand Springs     Oklahoma
4              Middle River     Maryland
...                     ...          ...
2370        Charlottesville     Virginia
2371               Hartford  Connecticut
2372              New Haven  Connecticut
2373                Shelton  Connecticut
2374               New York     New York

[2375 rows x 2 columns]

In [5]:
list(cdf.columns.values)

['City', 'State']

In [6]:
results = pd.merge(df,cdf,how="left",on="City")

In [7]:
results.sample(50)

,City,quantity score,business score,Cost of Living Index,Bucket,State
105,Tallahassee,0.03,0.22,96.4,1,Florida
173,Modesto,0.02,0.16,112.3,2,California
155,Austin,3.20,3.80,106.6,2,Minnesota
118,Dallas,2.90,3.80,98.5,1,Texas
38,Las Cruces,0.01,0.15,88.8,1,New Mexico
54,Baton Rouge,0.04,0.29,91.1,1,Louisiana
126,Raleigh,1.09,3.58,99.7,1,North Carolina
50,Appleton,0.02,0.17,90.7,1,Wisconsin
157,Reno,0.18,0.95,107.4,2,Nevada
121,Jacksonville,0.30,2.30,99.0,1,Arkansas
65,Knoxville,0.11,0.76,91.6,1,Tennessee
61,Green Bay,0.03,0.21,91.4,1,Wisconsin
123,Madison,0.69,3.80,99.5,1,New Jersey
102,Harrisburg,0.06,0.36,95.8,1,Pennsylvania
63,Kansas City,0.59,3.80,91.6,1,Kansas
83,Duluth,0.04,0.27,93.2,1,Minnesota
3,Huntington,0.07,0.44,84.3,1,New York
136,Orlando,0.84,3.80,101.4,2,Florida
69,Idaho Falls,0.02,0.17,91.7,1,Idaho
184,Boston,5.50,3.80,132.6,3,Massachusetts
76,San Antonio,0.48,3.80,92.7,1,Texas
1,Danville,0.02,0.26,83.9,1,Illinois
10,Monroe,0.01,0.13,86.5,1,Washington
26,Little Rock,0.17,1.08,88.0,1,Arkansas
96,Myrtle Beach,0.02,0.21,94.7,1,South Carolina
55,Great Falls,0.01,0.12,91.1,1,Montana
36,Lansing,0.05,0.33,88.7,1,Michigan
67,Augusta,0.02,0.14,91.6,1,Georgia
174,Portland,1.38,3.80,113.0,2,Oregon
79,Albuquerque,0.20,3.58,92.9,1,New Mexico
24,Toledo,0.02,0.17,87.5,1,Ohio
132,Las Vegas,1.01,3.80,100.7,2,Nevada
95,Lincoln,0.11,0.81,94.7,1,Nebraska
149,Sarasota,0.19,1.06,104.4,2,Florida
114,Charlotte,0.82,3.80,97.9,1,North Carolina
130,Atlanta,2.59,3.80,100.3,2,Georgia
187,San Diego,2.64,3.80,136.2,3,California
178,Boulder,1.32,3.80,118.7,2,Colorado
74,New Orleans,0.35,3.80,92.4,1,Louisiana
14,Fort Wayne,0.02,0.16,86.8,1,Indiana
90,Milwaukee,0.40,2.37,93.8,1,Wisconsin
135,Tampa,0.83,3.80,101.4,2,Florida
19,Oklahoma City,0.23,1.31,87.3,1,Oklahoma
53,Lexington,0.18,2.52,91.1,1,Kentucky
158,Medford,0.02,0.47,107.5,2,Oregon
29,Canton,0.02,0.18,88.2,1,Georgia
101,Houston,1.34,3.80,95.8,1,Texas
80,Omaha,0.22,2.04,92.9,1,Nebraska
115,Pensacola,0.04,0.28,97.9,1,Florida
152,Minneapolis,1.12,3.80,105.4,2,Minnesota

In [8]:
# Find null 
r_bool = results["State"].isnull()
nan_df = results[r_bool]

In [9]:
len(nan_df)

0

In [10]:
nan_df

Empty DataFrame
Columns: [City, quantity score, business score, Cost of Living Index, Bucket, State]
Index: []

In [11]:
reordered_results = results[["City", "State", "quantity score","business score","Cost of Living Index","Bucket"]]

In [12]:
reordered_results.to_csv("data_states.csv")